$primary-color: #FF5858;
$nav-color: #808080;
$span-color: white;
$background: #f3f7fc;
$color-white: #fff;
$color-black: #000;
$icon-background: #EDEDED;
$footer-color: #6C757D;
$box-shadow: #0000001a;
$about-color:#5e5b5be2;
$text-color:#919191e6;
$services-color: #e3e5e89c;
$box-shadow-team: #0000001a;